  GNU nano 8.7.1                                       .gitignore *                                               
].env
*.env
backend/.env
__pycache__/
*.pyc
docker-compose.yaml
script.sh
.github/







